@font-face {
    font-family: SourceProLight;
    src: url(Source_Sans_Pro/SourceSansPro-ExtraLight.ttf);
}

@font-face {
    font-family: SourceProRegular;
    src: url(Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: SourceProBold;
    src: url(Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

body {
    font-family: 'SourceProRegular', serif;
}

#left_container .left_wrapper,
#right_container .right_wrapper{
    position: relative;
    padding: 40px 25px;
}

.logo-wrapper {
    line-height: 60px;
    display:inline-block;
}

.logo {
    max-height: 60px;
    line-height: 60px;
}

.languages {
    color:#777;
    font-family: 'SourceProLight', serif;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    line-height: 60px;
}

.languages a {
    color: #777;
    text-decoration: none;
}
.languages .active {
    color: #e85575;
}

#msg_title {
    margin-top: 20rem;
    color:#e85575;/* #ff4d88;*/
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    max-width: 500px;
}

#msg_body p {
    color: #000;
    margin-top: 2.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    text-align: left;
    max-width: 600px;
}

#right_container {
    position: relative;
    background-color: #E85575;
    background-image: url(images/pawshake_logo-02.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 500px 500px;
    -webkit-background-size: 500px 500px;
    -moz-background-size: 500px 500px;
}

#right_title {
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.form_title {
    color: #fff;
    font-weight: 700;
    margin-bottom: 40px;
}

#subscribe_botton {
    color: #ff4d88;
    font-size: 2rem;
    background: #fff;
    border: #fff 5px solid;
    height: 85px;
    width: 235px;
    margin-top: 20px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#subscribe_botton:hover {
    color: #777;
}

#subscribe_field {
    text-align: center;
    height: 40px;
    margin-top: 60px;
    font-size: 1.7rem;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 100%;
}

.form_message {
    font-size: 2rem;
    color: #fff;
}

#subscribe_field-error {
    font-size: 2rem;
    color: #fff;
}

@media (min-width: 768px) {
    #right_container {
        background-position-y: 165%;
    }

    #left_container .left_wrapper,
    #right_container .right_wrapper{
        height: 100vh;
        overflow: hidden;
        min-height: 100%;
    }

    #right_title {
        position: absolute;
        top: 30%;
        left: 50%;
        width: 50%;
        margin: 0 0 0 -25%;
    }
}

@media (max-width: 767px) {
    .languages {
        font-size: 27px;
    }
    #msg_title {
        margin-top: 4rem;
    }
    #right_container {
        padding-bottom: 150px;
        background-position-x: -150px;
        background-position-y: 130%;
        background-size: 300px 300px;
        -webkit-background-size: 300px 300px;
        -moz-background-size: 300px 300px;
    }
}
