@font-face {
    font-family: SourceProLight;
    src: url(Source_Sans_Pro/SourceSansPro-ExtraLight.ttf);
}

@font-face {
    font-family: SourceProRegular;
    src: url(Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
    font-family: SourceProBold;
    src: url(Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

body {
    font-family: 'SourceProRegular';
    padding: 0;
    margin: 0;
    width: 100%;
}

@media (min-width: 992px) {
    body {
        font-family: 'SourceProRegular', serif;
        padding: 0;
        margin: 0;
        width: 98%;
    }

    .image_background {
        margin-top: 64rem;
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.logo {
    height: 60px;
    margin-top: 40px;
    margin-left: 40px;
}

.logo-wrapper {
    float: left;
}

.languages {
    font-family: 'SourceProLight';
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    font-size: 40px;
    font-weight: 300;
    text-decoration: none;
}

.languages a:hover {
    color: #ff4d88;
    text-decoration: none;
}

#msg_title p {
    float: none;
    clear: both;
    color: #ff4d88;
    margin-top: 30rem;
    font-size: 3rem;
    font-weight: 700;
    text-decoration: none;
    padding: 0 40px 0 40px;
    max-width: 500px;
}

#msg_body p {
    float: none;
    clear: both;
    color: #000;
    margin-top: 2.4rem;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
    padding: 0 40px 0 40px;
    text-align: left;
    max-width: 600px;
}

#right_container {
    background: url(images/bg-right.png) repeat;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.image_background {
    margin-top: 64rem;
}

#bottom_logo {
    max-width: 98%;
    height: auto;
}

#right_title {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.form_title {
    color: #fff;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: -40px;
}

#subscribe_botton {
    color: #ff4d88;
    font-size: 2rem;
    background: #fff;
    border: #fff 5px solid;
    height: 85px;
    width: 235px;
    margin-top: 20px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#subscribe_field {
    text-align: center;
    height: 40px;
    margin-top: 20px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}